
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&display=swap');


body{
    background-image: linear-gradient(to left, #a18cd1 0%, #d459b1 100%);
}

 h3{
    text-align: center;
    font-size: 33px;
    font-family: 'Caveat', cursive;
    font-weight: 100;
}

p{
    text-align: center;
    font-size: 25px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    
}

.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#btn-gen{
    margin-top: 20px;
    background-image: linear-gradient(to left, #a18cd1 0%, #dbb0cf 100%);
    padding: 10px;
    border: 1px solid ;
    cursor: pointer;
    border-radius: 9px;
}

.container{
    width: 1000px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(46, 31, 71);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

li{
    
    list-style: none;
    
    
}

a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.nav-p{
    font-size: 18px;
    text-transform: uppercase;
}

.nav-p:hover{
    color: white;
}

img{
    position: absolute;
    width: 400px; 
    height: 300px;
}

.img-div{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 290px) {
    .container {
        width: 70%;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border: 10px solid rgb(46, 31, 71);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
    }

    #btn-gen {
        margin-top: 20px;
        background-image: linear-gradient(to left, #a18cd1 0%, #dbb0cf 100%);
        padding: 20px;
        border: 1px solid;
        cursor: pointer;
        border-radius: 9px;
        font-size: 18px;
    }
}